<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Agregar Rss</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'add_rss' %}" method="POST" id="AddRss">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>Nombre <star class="star">*</star></label>
                            <input type="text" class="form-control" placeholder="Nombre" name="name" id="name" required="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>Key <star class="star">*</star></label>
                            <input type="text" class="form-control" placeholder="Key" name="key" id="key" required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>Url <star class="star">*</star></label>
                            <input type="text" class="form-control" placeholder="Url" name="url" id="url" required="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>Ícono <star class="star">*</star></label>
                            <input type="text" class="form-control" placeholder="Ícono" name="icon" id="icon" required="true">
                        </div>
                    </div>                    
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right">Agregar</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

