{% extends 'layouts/dashboard/base.html' %}

{% load static %}

{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Usuarios</h4>
            <br>
            <div class="col-md-12 text-left">
                <button type="button" class="btn btn-info btn-fill btn-wd" data-bs-toggle="modal" data-bs-target="#addUser">Agregar Usuario</button>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body table-full-width table-responsive">
                <table class="table" id="bootstrap-table">
                    <thead>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" class="text-center">ID</th>
                        <th data-sortable="true">Nombre</th>
                        <th data-sortable="true">Apellido</th>
                        <th data-sortable="true">Correo</th>
                        <th data-sortable="true">Usuario</th>
                        <th>Staff</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td></td>
                                <td>{{ user.id }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    {% if user.is_staff %}
                                        <button type="button" rel="tooltip" title="Activo" class="btn btn-success btn-simple btn-link">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        <!--<input type="checkbox" checked="" data-toggle="switch" data-on-color="info" data-off-color="info" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>">
                                        <span class="toggle"></span>-->
                                    {% else %}
                                        <button type="button" rel="tooltip" title="No activo" class="btn btn-danger btn-simple btn-link">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <!--<input type="checkbox" data-toggle="switch" data-on-color="info" data-off-color="info" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>">
                                        <span class="toggle"></span>-->
                                    {% endif %}    
                                </td>
                                <td>
                                    {% if user.is_active %}
                                        <button type="button" rel="tooltip" title="Activo" class="btn btn-success btn-simple btn-link">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    {% else %}
                                        <button type="button" rel="tooltip" title="No activo" class="btn btn-danger btn-simple btn-link">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    {% endif %}    
                                    <button type="button" rel="tooltip" title="Editar Usuario" class="btn btn-info btn-simple btn-link">
                                    <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Mini Modal -->
    <div class="modal fade modal-lg" id="addUser" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'dashboard/add_user.html' %}
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
            </div>
        </div>
    </div>
</div>

{% endblock %}